<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div class="container-fluid  p-5">
      <div style="margin-left:70vh;margin-top: -30px">
          <button class="btn btn-outline-primary m-3" routerLink="/">Home</button>
      <button class="btn btn-outline-success m-3" routerLink="/followers" [queryParams]="{page:1, order:'newest'}">Followers</button>
      <button class="btn btn-outline-warning m-3" routerLink="/posts"> Post</button>
      <button class="btn btn-outline-danger m-3" routerLink="/coursedemo">Firebase</button>
      </div>
      
      <div class="col-sm-12 " style="margin-left:50vh ">
        
        
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
        
        
      
           
      </div>
      <div class=" text-center " style="color:gray;margin-top: 50px">© 2018 Copyright:
          <a href="https://patilsumit.com"> patilsumit.com</a>
        </div>      
</div>
</footer>
